		@media (min-width: 200px){
			.descriptor {
				justify-content:center;
				align-items:center;
				width:100%;
			}
			.descriptor-text {
				font-size: 35px;
				color: var(--color3);
			}
			#physicsplug-in {
				display: none;
			}
			#mobile-div {
				display: block;
			}
		}
		@media (min-width: 900px) {
			.descriptor {
				display:flex;
				justify-content:center;
				align-items:center;
				width:100%;
			}

			.descriptor-text {
				font-size: 50px;
				color: var(--color3);
			}
			#physicsplug-in {
				display: block;
			}
			#mobile-div {
				display: none;
			}
		}

		:root {
			--color1: #8FBCE5; /* Sky Blue     var(--color1)  Light Color */  
			--color2: #59606F; /* Slate Gray   var(--color2)  Dark Color  */  
			--color3: #6391C3; /*Steel Blue    var(--color3) */
			--color4: white;   /* White        var(--color3) */
			--color5: black;   /* Black        var(--color5) */
		}


		body {
		    font: 20px "Montserrat", sans-serif;
		    line-height: 1.8;
		}

		p {font-size: 16px;}

		h1 {font-size: 75px;}

		.container-fluid {
			padding-top: 50px;
			padding-bottom: 50px;
		}

		.bg-1 {
			background-color: var(--color1);  
			color: var(--color4);
		}
		.bg-2 {
			background-color: var(--color2); 
			color: var(--color4);
		}
		.bg-3 {
			background-color: var(--color4); 
			color: var(--color2);
		}
		.bg-4 { 
		    background-color: var(--color2); 
		    color: var(--color4);
		}

		.navbar {
		    padding-top: 15px;
		    padding-bottom: 15px;
		    border: 0;
		    border-radius: 0;
		    margin-bottom: 0;
		    font-size: 20px;
		    letter-spacing: 5px;
		    color: var(--color2);
		}

		.navbar-default {
			background-color: var(--color1);;
		}

		.navbar-brand {
			font-size: 30px;
			color: var(--color2) !important;
		}

		.navbar-nav li a {
		    color: var(--color2) !important;
		}

		.navbar-nav li a:hover {
		    color: var(--color4) !important;
		}

		.margin {margin-bottom: 45px;}



		.nopad {			
			padding-top: 0px;
			padding-bottom: 0px;
		}

		.nomarg {
			margin-right: 0px;
			margin-left: 0px;
		}

		.pad-only {
			padding-top: 40px;
			padding-bottom: 40px;
		}

		.nopad {			
			padding-top: 0px;
			padding-bottom: 0px;
		}

		.glyphicon {
			color: black;
		}

		.carousel-control.right {
			background-image: none;
		}
		.carousel-control.left {
			background-image: none;
		}

		.carousel-image {
			width:100%;
			height: 545px;
		}

		.profile-pic {
			border-style: solid;
			border-width: 13px;
			border-color: var(--color3);
			width: 100%;
			max-width: 500px;
		}
