
/*Phones*/
@media (min-width: 200px){
		h1	{
			font-size: 50px;
			font-weight: bold;
			margin-bottom: 20px;
			text-align: center;
		}
		h2 {
			font-size: 28px;
		text-align: center;
	}
	h3 {
		line-height: 120%;
		text-align: center;
		padding: 0 10px 0 10px;
	}
	.profile-pic {
			background-color: #335170
	}
	.head {
		text-align: center;
	}
	.spaceholder {
		padding-top: 10px;
	}
}	


/*Desktops*/
@media (min-width: 767px){
	h1	{
		font-size: 90px;
		margin-bottom: 20px;
		text-align: left;
	}
	h2 {
		font-size: 30px;
	text-align: center;					
	}
	h3 {
		line-height: 120%;
		text-align: center;
	}
	.profile-pic {
		background-color: white;
		margin: 25px 25px 25px 25px;
	padding: 20px 20px 20px 20px;
	border: 17px solid #335170;
	}
	.topmarg {
		margin-top: 80px;
	}
	.bottommarg {
		margin-bottom: 80px;
	}
	.bottommarg2 {
		margin-bottom: 30px;
	}
	.head {
		text-align: center;
	}
	.spaceholder {
		padding-top: 30px;
	}
	.image {
		margin-top: 50px;
	}
	#email {
		padding-top:40px;
	}

}


body {
	font-family: Century Gothic;
}
.bg-1 {
 	background-color: #ffffff; 	/*White*/
 	color: #000000;	
}
.bg-2 {
 	background-color: #335170;	/*Navy 80 (GT)*/
 	color: #ffffff;
}
.bg-3 {
	background-color: orange;
	color: #000000;
}
.navi {
background:url("https://78.media.tumblr.com/3c8178a731555a838be3cc5efdb0eff0/tumblr_p1ef6vG8Hn1wy52q8o1_1280.jpg");
background-size:cover;
opacity:1;
}


/* Link Question: For the following two CSS selectors, why must navbar-default be included in the selection? What does it mean to have .navbar-default and .navbar-nav?*/
.navbar-default .navbar-nav > li > a {
	color: white;
}
/*a:focus is needed so that the button remains orange after it has been pressed; */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: orange;  /*#335170 (Navy 80)*/
}
.navbar {
	margin-bottom: 0;
}
.navbar-text {
	font-size: 20px;
	text-align: center;
}
.icon-smaller {
	font-size:.75em;
}
.carousel-indicators li {
	background-color: #808080;
}

.carousel-indicators .active {
	background-color: #000000;
}

.glyphicon {
	color: black;
}
.carousel-control.right {
	background-image: none;
}
.carousel-control.left {
	background-image: none;
}
a:hover,a:focus {
	color: orange;
}
#projectspace {	
	margin-top:50px;
}
#links {
	padding-bottom: 400px;
	text-align: center;
	font-size: 30px;
}
#links > h2 {
	color: white;
}
